:root{
    --color-main: rgb(107, 6, 135);
    --color-second: #fff;
}
body{ margin: 0;}
.navbar{
    width: 100vw;
}
.navbar .header{
    display: flex;
    padding: 1rem;
    /* padding: 0 1rem; */
    /* padding-top:0.5rem ; */
    /* padding-bottom:0.5rem ; */
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 100;
    background-color: var(--color-main);
    color: var(--color-second);
}
.namelogo{ display: flex; flex-direction: colume; 
     align-items: center;
     justify-content: space-around;
}

 p{ 
    font-size: 1.5rem !important;
    color: var(--color-second);
    padding: 0;
    margin: 0;
    font-weight: 600;
}